# Config and Htaccess Files
/www/config.php
/www/admin/config.php

# Image File
!/www/image/no_image.jpg

# Image Cache Files
/www/image/cache/*
!/www/image/cache/index.html

# System Cache Files
/www/system/storage/cache/*
!/www/system/storage/cache/index.html

# Modification Files
/www/system/storage/modification/*
!/www/system/storage/modification/index.html

# Templates Files
/www/image/templates/*
/www/image/templates/default.jpg

# Download Files
/www/system/storage/download/*
!/www/system/storage/download/index.html

# Upload Files
/www/system/storage/upload/*
!/www/system/storage/upload/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /www/flags/*

# Log Files
/www/system/storage/logs/*
!/www/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /www/backup.install/*
# /www/install/*

# Ignore all vendor files included by composer and the lock file
/tests/phpunit/vendor/*
/tests/phpunit/composer.lock

# Test Config File
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea

/vendor
composer.lock
